.App-header {
  position: fixed;
  width: 100%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 3;
  padding-bottom: 12px;
}

.bar {
  margin: 0 auto;
  max-width: 800px;
  padding: 24px;

  @media(min-width: 768px) {
    padding: 12px 45px;
  }

}

.bar a {
   transition: all 0.5s ease;
   color: white;
   text-decoration: none;
}

.bar-right {
    margin-left: 16px;

    &:hover {
      color: #f5ed7f;
    }
}

.right {
  float: right;
  margin-top: 14px;
  font-weight: bold;

  &--active {
    & a {color: #4BAF99;}
  }

}

.left {
  float: left;
}

.header-logo {
  height: 40px;
  display: inline-block;
  vertical-align: bottom;
}

.text-logo {
  font-weight: bold;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 12px;
}

.jumbotron {
  height: 400px;
  /* background: linear-gradient(45deg, #1e8a7b, #f5ed7f); */
  background: linear-gradient(45deg, #7BC255, #4BAF99);
  position: relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.jumbotron:before {
  content : '';
  display: block;
  position: absolute;
  bottom: -160px;
  left: 0;
  background-image: url('../../images/wave.svg');
  width: 100%;
  height: 100%;
  background-size: 100% 100%;    /* added*/
  background-repeat: no-repeat;  /* optinal*/
}

.jumbo-content {
  padding-top: 20%;
  padding-left: 5%;
}

.h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.h2 {
  color: #4BAF99;
  font-size: 2rem;
  font-weight: bold;
}

.sub-title {
  color: white;
  font-size: 1rem;
}

.meeting {
  display: none;
}

.container {
  max-width: 800px;
  padding: 12px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  z-index: 2;
  text-align: center;
}

.usps {
  margin-bottom: 24px;
}

.usp {
  margin: 18px 0px;
  text-align: center;
}

.usp-title {
  font-size: 2.5rem;
  color: #4BAF99;
  font-weight: bold;
  border: 5px solid #4BAF99;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 110px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.divider {
  width: 60px;
  height: 5px;
  background: linear-gradient(45deg, #7BC255, #4BAF99);
  margin: 0 auto;
  margin: 42px;
  display: inline-block;
}

.usp-subtitle {
  font-size: 0.8rem;
  color: #333;
}

.contact {
  margin: 36px 0px;
}

.contact-input {
  padding-left: 12px;
  line-height: 40px;
  height: 40px;
  width: 280px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px 0px 0px 4px;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
}

.contact-button {
  display: inline-block;
  vertical-align: middle;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
  height: 40px;
  line-height: 40px;
  width: 140px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border-radius: 0px 4px 4px 0px;
  position: relative;
  right: 2px;
}

.problem {
  position: relative;
  margin: 60px 0px;
  margin-top: 100px;
  padding: 24px;
  background: linear-gradient(135deg, #7BC255, #4BAF99);
  overflow: hidden;
}

.problem:before {
  content: '';
  opacity: 0.1;
  position: absolute;
  right: -80px;
  bottom: -40px;
  height: 400px;
  width: 400px;
  background-image: url('../../images/trashcan.svg');
  transform: rotate(15deg);
  background-size: 100% 100%;    /* added*/
  background-repeat: no-repeat;  /* optinal*/
}

.problem-content {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 12px;
  color: white;
}

.contact-button:hover {
  cursor: pointer;
}

.half {
  text-align: center;
  font-style: italic;
}

.the-hague-logo {
  width: 100%;
}

.awards {
  margin: 90px 0px;
  color: #333;
}

.award-image {
  width: 100px;
}

.award-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer {
  background: #f3f3f3;
  padding: 24px;
}

.footer-items {
  text-align: center;
}

.fourth {
  height: 70px;
  border-right: 1px solid #d3d3d3;
  padding: 12px;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 36px;
}

.fourth:last-of-type {
  border: none;
}

.copyright {
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 0px;
}

@media(min-width: 768px) {
  .meeting {
    display: block;
    position: absolute;
    width: 30%;
    max-width: 300px;
    right: 5%;
    bottom: 100px;
    float: right;
  }

  .jumbotron {
    height: 500px;
  }

  .jumbotron:before {
    bottom: -200px;
  }

  .jumbo-content {
    width: 45%;
  }

  .usp {
    margin: 0px;
    width: calc(100% / 3);
    display: inline-block;
    vertical-align: top;
  }

  .half {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  .third {
    width: calc(100% * (1 / 3));
    display: inline-block;
    vertical-align: middle;
  }

  .twothird {
    width: calc(100% * (2 / 3));
    display: inline-block;
    vertical-align: middle;
      font-size: 0.9rem;
  }
}

@media(min-width: 1200px) {
  .jumbo-content {
      padding-top: 15%;
  }
}

@media(min-width: 1600px) {
  .jumbotron {
    height: 800px;
  }

  .meeting {
    bottom: 300px;
  }
}

@media(min-width: 2560px) {
  .container, .bar, .problem-content {
    max-width: 1800px;
    width: 1800px;
  }
}
