.App {
  font-family: 'Hind', sans-serif;
  margin: 0 auto;
  position: relative;
}

textarea, select, input, button { outline: none; }

.hamburger-icon {
  height: 20px;
}

.navpanel {
  position: absolute;
  z-index: 4;
  top: 80px;
  right: -10000px;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(45deg, #7BC255, #4BAF99);
  transition: all 0.4s;

  &--open {
    right: 0
  }
}

.mobile-header-item {
  padding: 6px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;

  &:first-of-type {
    border-top: 1px solid white;
  }

  &:hover {
    color: #f5ed7f;
  }
}
